#headerbuttoncontainers
{
    margin-right:285px;
    justify-content: center;
    display:flex;
    

}
.hbtn{
    height: 40px;
    width: 100px;
    border-radius: 8%;
    border: none;
    background-color: white;
    font-weight: bolder;
}
#login
{
background-color: lightseagreen;
color: white;
}
#signup
{
    margin-top: 15px;
background-color: white;
color: lightseagreen;
}